<h1 mat-dialog-title style="color: green;margin-top: 9px;">Product Saved!</h1>
<hr style="margin-top: -1">
<h3 mat-dialog-title style="color: black;font-weight: 700">Product Name:</h3>
<p mat-dialog-title style="color: black;margin-top: -26px">Scoop neck pencil lotus Slim leaf suits</p>

<h3 mat-dialog-title style="color: black;margin-top: -14px;font-weight: 700">Size:</h3>
<p mat-dialog-title style="color: black;margin-top: -51px;margin-left: 55px">38</p>

<!-- <h3 mat-dialog-title style="color: black;margin-top: -14px;font-weight: 700">Price:</h3>
<p mat-dialog-title style="color: black;margin-top: -51px;margin-left: 55px">$35</p> -->

<img class="logo__image" src="../assets/frock.jpg" width="269" height="240" style="margin-top: -11px" alt="" title="" />
  

<div mat-dialog-content>
   <p style="color: black;margin-top: -1px;font-weight: 600;">Have you picked this suit of size 38?</p>
</div>

<div mat-dialog-actions>
    <button mat-raised-button class="YESBUTTON" [mat-dialog-close]="data" cdkFocusInitial>Yes</button>
  
    <button mat-raised-button class="NOBUTTON" [mat-dialog-close]="data" cdkFocusInitial>No</button>
    
  </div>
  

