<mat-toolbar class="LOGOHEADER">
        <span class="logo"></span>
    <div fxShow="true">
        <a class="logo" href="/en/">
            <img class="logo__image" src="../assets/PRIDE-GIF.gif?context=bWFzdGVyfHJvb3R8MTE2Nzc4fGltYWdlL2dpZnxoY2EvaDg2Lzg4MTA3NzM5NzA5NzQvUFJJREUtR0lGLmdpZnxlOWRlN2FjM2VmNThkMThlYzFhMGQzNzVkZGNjMzY3YjgxNTgxZmMxODZhOTVhYWI2MzEyNTA5ZWRiZjA0ZWM1" width="200" height="25" alt="" title="" />
        </a>
    </div>
</mat-toolbar>
<div> 
    <mat-toolbar class="HEADER">
      <!-- <div fxShow="true" fxHide.gt-sm="true">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div> -->
  
      <!-- <a mat-button class="companyName" routerLink="/">
        <span>Site name</span>
      </a> -->
      <span class="example-spacer"></span>
      <div fxShow="true">
          
        <!-- <a mat-button routerLink="/about-us">About us</a> -->
        <a class="MENU" mat-button routerLink="/order">Order Details</a>
      </div>
  
    </mat-toolbar>
    <!-- <mat-sidenav-container fxFlexFill class="example-container">
  
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
            <a mat-button routerLink="/about-us">About us</a>
            <a mat-button routerLink="/order">Order Details</a>
        </div>
      </mat-sidenav> -->
      <!-- <mat-sidenav-content fxFlexFill>
        Awesome content
      </mat-sidenav-content> -->
    <!-- </mat-sidenav-container> -->
  </div>