.YESBUTTON{
    color: white;
    background-color: #318722;
    margin-left: 134px;
    width: 84px;
 }
 .NOBUTTON{
    color: white;
    background-color: #DD0303;
    margin-top: -53px;
    margin-left: 233px !important;
    width: 84px;
   
 }