<app-header2></app-header2>


    
  <mat-card class="ordercard">
    <mat-card-header>
        <!-- <mat-card-title>
            <p class="ProductName">Product Name:</p>
            <p class="PRODUCT">Anarkali Salwar Suit</p>
          </mat-card-title> -->
          
        <mat-card-title >
          <!-- <h5 class="Order">Order ID: </h5> -->
          <img class="logo__image" src="../assets/gawn.jpg" alt="" title="" />
  
        </mat-card-title>

        <!-- <mat-card-subtitle>
          <p class="SIZE">Size: </p>
          <p class="SIZECHART">42</p>
        </mat-card-subtitle>

        <mat-card-subtitle>
            <p class="SIZE">MRP: </p>
            <p class="AMOUNT">$35</p>
          </mat-card-subtitle> -->
 
    </mat-card-header>

    <!-- <mat-card-actions style="margin-left: 544px;margin-top: -51px;">
        <button mat-raised-button style="background:#e02a1d;color:white;width: 150px;font-size: 20px" (click)="submit()">Scan & Go</button> 
      </mat-card-actions> -->
  </mat-card>



    <mat-card class="Detailcard">
        <mat-card-header>
            <mat-card-title>
                <p class="PRODUCT">Anarkali Salwar Suit</p>
              </mat-card-title>
              
           
    
            <mat-card-subtitle>
              <p class="SIZE">Size: </p>
              <p class="SIZECHART">42</p>
            </mat-card-subtitle>
    
            <mat-card-subtitle>
                <p class="Price">Price: </p>
                <p class="AMOUNT">$35</p>
              </mat-card-subtitle>
     
        </mat-card-header>
    
        <mat-card-actions style="margin-left: 3px;">
            <button mat-raised-button class="BUTTON" style="width: 200px" (click)="submit()">Scan & Go</button> 
          </mat-card-actions>
      </mat-card>
    

  <mat-card class="ordercard">
      <mat-card-header>
          <!-- <mat-card-title>
              <p class="ProductName">Product Name:</p>
              <p class="PRODUCT">Scoop neck pencil lotus Slim leaf suits</p>
            </mat-card-title> -->
            
          <mat-card-title >
            <!-- <h5 class="Order">Order ID: </h5> -->
            <img class="logo__image" src="../assets/frock.jpg" alt="" title="" />
    
          </mat-card-title>
  
          <!-- <mat-card-subtitle>
            <p class="SIZE">Size: </p>
            <p class="SIZECHART">38</p>
          </mat-card-subtitle>
  
          <mat-card-subtitle>
              <p class="SIZE">MRP: </p>
              <p class="AMOUNT">$25</p>
            </mat-card-subtitle> -->
   
      </mat-card-header>

      <!-- <mat-card-actions style="margin-left: 544px;margin-top: -51px;">
          <button mat-raised-button style="background:#e02a1d;color:white;width: 150px;font-size: 20px" (click)="submit1()">Scan & Go</button> 
        </mat-card-actions> -->
    </mat-card>

    <mat-card class="Detailcard">
        <mat-card-header>
            <mat-card-title>
                <p class="PRODUCT">Scoop neck pencil lotus Slim leaf suits</p>
              </mat-card-title>
              
           
    
            <mat-card-subtitle>
              <p class="SIZE">Size: </p>
              <p class="SIZECHART">38</p>
            </mat-card-subtitle>
    
            <mat-card-subtitle>
                <p class="Price">Price: </p>
                <p class="AMOUNT">$25</p>
              </mat-card-subtitle>
     
        </mat-card-header>
    
        <mat-card-actions style="margin-left: 3px;">
            <button mat-raised-button class="BUTTON" style="width: 200px" (click)="submit1()">Scan & Go</button> 
          </mat-card-actions>
      </mat-card>
    

  


  <mat-card class="ordercard">
      <mat-card-header>
          <!-- <mat-card-title>
              <p class="ProductName">Product Name:</p>
              <p class="PRODUCT">Levi's Men's Leather Belt</p>
            </mat-card-title> -->
            
          <mat-card-title >
            <!-- <h5 class="Order">Order ID: </h5> -->
            <img class="logo__image" src="https://images-na.ssl-images-amazon.com/images/I/71%2Bzu2zY4rL._UL1500_.jpg" alt="" title="" />
    
          </mat-card-title>
  
          <!-- <mat-card-subtitle>
            <p class="SIZE">Size: </p>
            <p class="SIZECHART">80</p>
          </mat-card-subtitle>
  
          <mat-card-subtitle>
              <p class="SIZE">MRP: </p>
              <p class="AMOUNT">$20</p>
            </mat-card-subtitle> -->
   
      </mat-card-header>

      <!-- <mat-card-actions style="margin-left: 544px;margin-top: -51px;">
          <button mat-raised-button style="background:#e02a1d;color:white;width: 150px;font-size: 20px" (click)="submit2()">Scan & Go</button> 
        </mat-card-actions> -->
    </mat-card>

    <mat-card class="Detailcard">
        <mat-card-header>
            <mat-card-title>
                <p class="PRODUCT">Levi's Men's Leather Belt</p>
              </mat-card-title>
              
           
    
            <mat-card-subtitle>
              <p class="SIZE">Size: </p>
              <p class="SIZECHART">80</p>
            </mat-card-subtitle>
    
            <mat-card-subtitle>
                <p class="Price">Price: </p>
                <p class="AMOUNT">$15</p>
              </mat-card-subtitle>
     
        </mat-card-header>
    
        <mat-card-actions style="margin-left: 3px;">
            <button mat-raised-button class="BUTTON" style="width: 200px" (click)="submit2()">Scan & Go</button> 
          </mat-card-actions>
      </mat-card>
    


  <!-- <br> <br><br><br><br><br><br><br><br><br> <br><br><br><br><br><br><br><br> -->