body{
   font-family: 'Arial';
}
.YESBUTTON{
   margin-left: 130px;
    margin-top: -17px;
    color: white;
    background-color: #318722;
    /* margin-left: 115px; */
    width: 108px;
    font-family: 'Arial';
 }
 .NOBUTTON{
    color: white;
    background-color: #DD0303;
    font-family: 'Arial';
    width: 108px;
   
 }