.YESBUTTON{
    color: white;
    background-color: #318722;
    /* margin-left: 115px; */
    width: 108px;
 }
 .NOBUTTON{
    color: white;
    background-color: #DD0303;
    
    width: 108px;
   
 }