<!-- <h1 mat-dialog-title style="color: green;margin-top: 9px;">Product Saved!</h1> -->

<!-- <p mat-dialog-title style="color: black;margin-top: -26px;margin-left: 225px;">Anarkali Salwar Suit</p>

<h3 mat-dialog-title style="color: black;margin-top: -23px;font-weight:400;font-size:18px;margin-left: 228px;">Size:</h3>
<p mat-dialog-title style="color: black;margin-top: -51px;margin-left: 48px;font-size:18px">42</p> -->

<!-- <h3 mat-dialog-title style="color: black;margin-top: -14px;font-weight: 700">Price:</h3>
<p mat-dialog-title style="color: black;margin-top: -51px;margin-left: 55px">$35</p> -->
<body>
   


<img class="logo__image" src="../assets/beauty.PNG" width="269" height="240" style="margin-top: -11px" alt="" title="" />
<div mat-dialog-content>
      <p style="color: black;margin-top: 15px;font-weight: 600;">Quantity: 1</p>
   </div>
<div mat-dialog-content>
   <p style="color: black;margin-top: 0;font-weight: 600;">Enter the size of the product</p>
</div>
<div style="margin-left: 230px;margin-top: -40px;">
   <input matInput type="text" autocomplete="off" [(ngModel)]="inputText" style="width: 39px;height:25px">
</div>
<!-- 
<div mat-dialog-content>
   <p style="color: black;margin-top: 18px;font-weight: 600;">Have you picked this suit of size 42?</p>
</div> -->

<div mat-dialog-actions>
    <button [disabled]="!inputText" mat-raised-button class="YESBUTTON" [mat-dialog-close]="data" cdkFocusInitial (click)="YES(inputText)">Ok</button>
  
    <!-- <button mat-raised-button class="NOBUTTON" style="margin-left: 239px;
    margin-top: -54px;" [mat-dialog-close]="data" cdkFocusInitial>No</button>
     -->
  </div>
  

</body>