<app-header2></app-header2>

<mat-card class="PRODUCTImage">
<img class="image" src="../assets/blazer.jpg" alt="">
</mat-card>

<mat-card class="PRODUCTDETAILS">
  <mat-card-header>
    <mat-card-title>
        <p class="PRODUCT">Check Blazer</p>
      </mat-card-title>
      
      <mat-card-subtitle>
        <p class="AMOUNT">£35.00</p>
      </mat-card-subtitle>
   

    <mat-card-subtitle>
      <p class="SIZE">Quantity: 1</p>
      <!-- <p class="SIZECHART"></p> -->
    </mat-card-subtitle>

    

</mat-card-header>
</mat-card>

<mat-card class="Button">
<mat-card-actions style="margin-left: 10px;">
    <button mat-raised-button class="BUTTON" (click)="submit()">Pick</button> 
  </mat-card-actions>
</mat-card>

