
<body>
  

<div mat-dialog-content>
  <p style="color: black;margin-top: -1px;font-weight: 600;">Walk to Beauty product aisle to pick up Aladdin False Nails</p>
</div>

<div mat-dialog-actions style="padding: 8px 0;
display: flex;
flex-wrap: wrap;
min-height: 52px;
align-items: center;
margin-bottom: -23px;
margin-top: -7px;">
  <button mat-raised-button class="YESBUTTON" [mat-dialog-close]="data" cdkFocusInitial (click)="YES($event)">Ok</button>

  <!-- <button mat-raised-button class="NOBUTTON" style="margin-left:21px;" [mat-dialog-close]="data" cdkFocusInitial>No</button> -->
  
</div>
</body>