<h1 mat-dialog-title>Scannig...</h1>
<hr>
<div mat-dialog-content>
    <div fxShow="true">
        <a class="logo" href="/en/">
            <img class="logo__image" style="height: 300px;width: 450px" src="../assets/barcode.gif?context=bWFzdGVyfHJvb3R8MTE2Nzc4fGltYWdlL2dpZnxoY2EvaDg2Lzg4MTA3NzM5NzA5NzQvUFJJREUtR0lGLmdpZnxlOWRlN2FjM2VmNThkMThlYzFhMGQzNzVkZGNjMzY3YjgxNTgxZmMxODZhOTVhYWI2MzEyNTA5ZWRiZjA0ZWM1" width="200" height="25" alt="" title="" />
        </a>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-raised-button class="Button" [mat-dialog-close]="data" cdkFocusInitial (click)="submit()">Ok</button>
  </div>