<app-header></app-header>


  <mat-card class="ordercard">
    <mat-card-header>
        <mat-card-title>
            <p class="ORDER">Order Date:</p>
            <p class="DATE">10/05/2109</p>
          </mat-card-title>
          
        <mat-card-title>
          <h5 class="Order" routerLink="/product">Order ID: {{ this.ID }}</h5>
        </mat-card-title>

        <mat-card-subtitle>
          <p class="Customer">Customer Name: {{ Name }}</p>
        </mat-card-subtitle>
 
    </mat-card-header>
  </mat-card>

    <mat-card class="ordercard">
      <mat-card-header>
          <mat-card-title>
              <p class="ORDER">Order Date:</p>
              <p class="DATE">10/05/2109</p>
            </mat-card-title>
            
          <mat-card-title>
            <h5 class="Order" routerLink="/product">Order ID: {{ this.ID }}</h5>
          </mat-card-title>
  
          <mat-card-subtitle>
            <p class="Customer">Customer Name: {{ Name }}</p>
          </mat-card-subtitle>
   
      </mat-card-header>
    </mat-card>

      <mat-card class="ordercard">
          <mat-card-header>
              <mat-card-title>
                  <p class="ORDER">Order Date:</p>
                  <p class="DATE">10/05/2109</p>
                </mat-card-title>
                
              <mat-card-title>
                <h5 class="Order" routerLink="/product">Order ID: {{ this.ID }}</h5>
              </mat-card-title>
      
              <mat-card-subtitle>
                <p class="Customer">Customer Name: {{ Name }}</p>
              </mat-card-subtitle>
       
          </mat-card-header>
        </mat-card>

       