<app-header></app-header>
<div>
<mat-toolbar class="HEADER">
  <span class="example-spacer"></span>
  <div fxShow="true">
      
    <!-- <a mat-button routerLink="/about-us">About us</a> -->
    <a class="MENU" mat-button routerLink="/order">Order Details</a>
  </div>
  </mat-toolbar>
</div>
  <mat-card class="ordercard" routerLink="/map">
    <mat-card-header>
        <mat-card-title>
            <p class="ORDER">Order Date:</p>
            <p class="DATE">10/05/2109</p>
          </mat-card-title>
          
        <mat-card-title>
          <h5 class="Order">Order ID: {{ this.ID }}</h5>
        </mat-card-title>

        <mat-card-subtitle>
          <p class="Customer">No of Items: {{ Name }}</p>
        </mat-card-subtitle>
 
    </mat-card-header>
  </mat-card>

    <mat-card class="ordercard">
      <mat-card-header>
          <mat-card-title>
              <p class="ORDER">Order Date:</p>
              <p class="DATE">10/05/2109</p>
            </mat-card-title>
            
          <mat-card-title>
            <h5 class="Order">Order ID: {{ this.ID }}</h5>
          </mat-card-title>
  
          <mat-card-subtitle>
            <p class="Customer">Customer Name: {{ Name }}</p>
          </mat-card-subtitle>
   
      </mat-card-header>
    </mat-card>

      <mat-card class="ordercard">
          <mat-card-header>
              <mat-card-title>
                  <p class="ORDER">Order Date:</p>
                  <p class="DATE">10/05/2109</p>
                </mat-card-title>
                
              <mat-card-title>
                <h5 class="Order">Order ID: {{ this.ID }}</h5>
              </mat-card-title>
      
              <mat-card-subtitle>
                <p class="Customer">Customer Name: {{ Name }}</p>
              </mat-card-subtitle>
       
          </mat-card-header>
        </mat-card>

       